:is(.cm-fold-indicator:hover, *) ~ .cm-formatting.cm-formatting-list .list-bullet::after, .list-bullet::after, ol ol > li::marker, ul ol > li::marker, ol ul > li::marker  {
	content: "↳ ";
	width: unset;
	height: unset;
	background-color: unset;
	box-shadow: none;
}

.HyperMD-list-line-1 .cm-formatting.cm-formatting-list .list-bullet::after, .HyperMD-list-line-1 :is(.cm-fold-indicator:hover, *) ~ .cm-formatting.cm-formatting-list .list-bullet::after, div > ul > li > .list-bullet::after, ul > li::marker {
	content: "→ ";
}

:root .is-collapsed ~ .cm-formatting-list .list-bullet::after, li.is-collapsed .list-bullet::after {
	color: rgb(var(--ctp-red)) !important;
	box-shadow: none;
	background-color: transparent;
}

/* Apply custom styles for PDF export */
@media print {
    /* Top-level unordered list */
    ul > li::marker {
        content: "→ "; /* Use arrow for first-level bullets */
        font-size: inherit;
        color: rgb(var(--ctp-red)) !important;
    }

    /* Nested unordered lists (second level and deeper) */
    ul ul > li::marker {
        content: "↳ "; /* Use bent arrow for nested unordered lists */
        font-size: inherit;
        color: rgb(var(--ctp-red)) !important;
    }

    /* Nested ordered lists (second level and deeper) */
    ol ol > li::marker, ul ol > li::marker, ol ul > li::marker {
        content: "↳ "; /* Use bent arrow for nested ordered lists */
        font-size: inherit;
        color: rgb(var(--ctp-red)) !important;
    }
}