:root body.is-translucent:not(.is-fullscreen) .titlebar, .is-translucent:not(.is-fullscreen) .app-container {
    background: #181825 !important;
}

:root body {
    --blockquote-color: rgb(205, 214, 244) !important;
    --inline-title-size: 3em !important; 
    --inline-title-margin-bottom: 0.2em !important;
    --heading-spacing: calc(var(--p-spacing)* 1.5) !important;
    --file-line-width: 900px !important;
    --tab-width: 250px !important;
}

:root del {
    --ctp-strikethrough: var(--ctp-peach) !important;
    text-decoration-color: var(--ctp-peach) !important;
    text-decoration-thickness: 2px !important;
}

:root .cm-strikethrough {
    --ctp-strikethrough: var(--ctp-peach) !important;
    text-decoration-thickness: 2px !important;
}

:root a {
    color: rgba(var(--ctp-red)) !important;
}

:root .image-embed.is-loaded img[alt*="white"] {
    background-color: white !important; 
}

:root .embed-title {
    color: var(--color-purple) !important;
    font-weight: calc(var(--font-weight) + var(--bold-modifier) + 100) !important;
    font-size: calc(var(--font-text-size) + 20px) !important;
}

/* text highlight */
::selection {
    background-color: rgba(var(--ctp-red), 0.2) !important;
    color: var(--ctp-text) !important;
}

:root b, strong, .cm-strong, .cm-s-obsidian span.cm-formatting-strong, .cm-s-obsidian span.cm-strong {
    font-weight: calc(var(--font-weight) + var(--bold-modifier) + 100) !important;
}

:root .tree-item-self .tree-item-icon .svg-icon:not(.right-triangle) {
    visibility: hidden !important;
    overflow: hidden !important;
    display: none !important;
}

:root .empty-state-title {
    font-size: 3em !important;
}

:root .timeline {
    --timeline-active-color: var(--text-accent) !important;
}

.is-flashing, .cm-s-obsidian .is-flashing .cm-url {
    padding-left: 6px !important;
	padding-right: 6px !important;
	padding-top: 0px !important;
	padding-bottom: 2px !important;
	border-radius: 5px !important;
    background-color: rgba(var(--ctp-surface2), 0.5) !important;
    --tag-color: var(--color-pink) !important;
    color: var(--color-pink) !important;
    transition: 2s !important;
}

.markdown-preview-view li {
    transition: 2s !important;
}

.footnote-link {
    transition: 2s !important
}

.timeline.body-2 .title {
    background-color: rgb(var(--ctp-surface0));
}

.timeline::before {
    border-radius: 25px;
}

.timeline .description {
    margin-bottom: 3em;
}

.nav-file-tag {
    background-color: var(--text-accent);
    color: rgb(var(--ctp-base));
    border-color: rgb(var(--ctp-base));
}

.system3-banner {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

u {
    color: rgb(var(--ctp-mauve))
}

.system3-folder-icons.svelte-1siabfk {
    background-color: rgb(var(--ctp-surface0)) !important;
}

.modal.mod-plugin-debug .startup-desc {
    color: rgb(var(--ctp-subtext0));
}

:root .nav-folder > .nav-folder-children.system3-live {
    border-inline-start-width: calc(var(--nav-indentation-guide-width) + 1px) !important;
}

:root span.cm-strikethrough.cm-strong, strong > del {
    color: rgb(var(--ctp-pink)) !important;
}

:root span.cm-em.cm-strikethrough, strong > del {
    color: rgb(var(--ctp-flamingo)) !important;
}